
:root {
    --travel-blue: #0d6efd;
    --travel-orange: #fd7e14;
    }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    }
.hero {
    height: 80vh;
    background: #0d6efd;
    padding: 80px 20px;
    background-image: url(mes\ images/jp.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    }

/* ACCORDION */
.accordion-button:(.collapsed) {
    background-color: var(--travel-blue);
    color: white;
}
