body {;
    padding-top: 0px;
    margin: 0;
}
.hero-section {
    height: 80vh;
    background-image: url(MES\ images/km.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}


.price {
    font-weight: bold;
    color: #e67e22;
    margin-top: 10px;
}

footer i {
    font-size: 20px
}